<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">FREE BURGERS!</h1>
    <p class="lead">Lets Eat!</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h3>Free Burgers</h3>
      {{#each burgers}}
        {{#unless devoured}}
          <div class="card">
            <div class="card-body">
              <h2>{{burger_name}}</h2>
              <button type="button" class="btn btn-dark eat-burger" data-id="{{this.id}}">Devour it!</button>
            </div>
          </div>            
        {{/unless}}
      {{/each}}
    </div>
    <div class="col-lg-6">
      <h3>Eaten Burgers</h3>
      {{#each burgers}}
        {{#if devoured}}
          <div class="card">
            <div class="card-body">
              <h2>{{burger_name}}</h2>
              <button type="button" class="btn btn-dark eat-burger" data-id="{{this.id}}">Devour it!</button>
            </div>
          </div>            
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
