<h1>EAT DA BURGER</h1>
<ul>
  {{#each burgers}}
    <button class="eat-burger" data-id="{{this.id}}">Devour it!</button>
  {{/each}}
</ul>

<ul>
  {{#each cats}}
    {{#if eaten}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form>
