<div class="header-text">
  <div class="container">
    <h1 class="display-4">FREE BURGERS!</h1>
    <p class="lead">Lets Eat!</p>
    <i class="fas fa-hamburger burger-img"></i>
  </div>
</div>

<div class="container">
  <div class="row pt-2">
    <div class="col-lg-6">
      <h3>Free Burgers</h3>
      {{#each burgers}}
        {{#unless devoured}}
          <div class="card mt-3">
            <div class="card-body">
              <h2>{{burger_name}}</h2>
              <button type="button" class="btn btn-dark eat-burger" data-id="{{this.id}}">Devour it!</button>
            </div>
          </div>            
        {{/unless}}
      {{/each}}
    </div>
    <div class="col-lg-6">
      <h3>Eaten Burgers</h3>
      {{#each burgers}}
        {{#if devoured}}
          <div class="card mt-3">
            <div class="card-body">
              <h2>{{burger_name}}</h2>
              <p>Eaten!</p>
            </div>
          </div>            
        {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="card ">
        <div class="card-body">
          <h2>Add a Burger</h2>
          <form class="create-form">
            <div class="form-group">
              <label for="ca">Burger:</label>
              <input type="text" id="ca" name="name" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Add Burger</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>


